Source: regolith-i3xrocks-config
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-i3xrocks-config.git

Package: regolith-i3xrocks-config
Architecture: any
Depends: ${misc:Depends},
    gnome-control-center,
    gnome-system-monitor,
    xrescat
Description: Regolith configuration for i3xrocks launcher

Package: i3xrocks-focused-window-name
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    i3ipc-python
Description: Blocklet to show focused window name.

Package: i3xrocks-battery
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    upower
Description: Blocklet to show battery

Package: i3xrocks-keyboard-layout
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    libglib2.0-bin
Description: Blocklet to show keyboard layout

Package: i3xrocks-key-indicator
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    x11-xserver-utils
Description: Blocklet to keyboard status

Package: i3xrocks-media-player
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    playerctl
Description: Media player blocklet

Package: i3xrocks-nm-vpn
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    network-manager
Description: Network manager vpn blocklet

Package: i3xrocks-openvpn
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    perl
Description: Blocklet to show openvpn

Package: i3xrocks-temp
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    lm-sensors
Description: Blocklet to show temperature

Package: i3xrocks-volume
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    alsa-utils
Description: Blocklet to show volume

Package: i3xrocks-weather
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    curl,
    xdg-utils
Description: Blocklet to show weather

Package: i3xrocks-wifi
Architecture: any
Depends: ${misc:Depends},
    regolith-i3xrocks-config,
    network-manager
Description: Blocklet to show battery