name: test
on:
  push:
    branches:
      - master
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    container: ubuntu:focal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Prepare test environment
        shell: bash
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt update -qq
          apt install --no-install-recommends -y curl ca-certificates iproute2 bc silversearcher-ag umockdev
          cp tests/xrescat_mock /usr/bin/xrescat
          cp tests/i3-msg_mock /usr/bin/i3-msg
      - name: Run net-traffic test
        shell: bash
        run: |
          umockdev-run -- tests/net-traffic_test.sh
      - name: Run temp test
        shell: bash
        run: |
          tests/temp_test.sh
      - name: Run weather test
        shell: bash
        run: |
          tests/weather_test.sh
      - name: Run disk-capacity test
        shell: bash
        run: |
          tests/disk-capacity_test.sh
