name: test
on:
  push:
    branches:
      - master
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    container: ubuntu:focal
    runs-on: ubuntu-latest
    # if: "!contains(github.event.commits[0].message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v2
      - name: Prepare test environment
        shell: bash
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          apt update -qq
          apt install --no-install-recommends -y iproute2 bc
          cp tests/xrescat_mock /usr/bin/xrescat
          cp tests/i3-msg_mock /usr/bin/i3-msg
      - name: Run net-traffic test
        shell: bash
        run: |
          tests/net-traffic_test.sh
      - name: Run temp test
        shell: bash
        run: |
          tests/temp_test.sh
